{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load common_html %}
{% block title %}
Listado de Proveedores - {{block.super}}
{% endblock %}

{% block heading %}
<div id="descripcion">
  <h2>Proveedores con órdenes de compra adjudicadas por la Municipalidad <strong>desde 2008</strong></h2>
</div>
{% endblock %}

{% block content %}
<div class="bloque">
  <table>
    <tr>
      <th>Nombre Fantasía</th>
      <th>Razón Social</th>
      <th>Domicilio</th>
      <th>Localidad</th>
      <th>CUIT</th>
    </tr>
    {% for p in proveedores %}
    <tr>
      <td><a href="{% url proveedor p.slug %}">{{p.nombre_fantasia}}</td>
      <td>{{p.nombre|safe}}</td>
      <td>{{p.domicilio|safe|default_if_none:"-"}}</td>
      <td>{{p.localidad|safe|default_if_none:"-"}}</td>
      <td>{{p.cuit|safe|default_if_none:"-"}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
