{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load common_html %}

{% block title %}
{% tiempo_en_letras start_date end_date as periodo %}
Compras a {{proveedor.nombre}} {{periodo|striptags}} - {{block.super}}
{% endblock %}

{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<hr>
<h2 class="alt">
{% if facturacion_mensual_total == 0 %}
No hay órdenes de compra adjudicadas a {{proveedor|objlink}} {{periodo}}
{% else %}
{{periodo|first_upper}}, {{proveedor|objlink}} facturó <strong>{{facturacion_mensual_total|currency}}</strong> a la Municipalidad.
{% endif %}
</h2>
{% include "filtro.html" %}
<hr>
{% if facturacion_mensual_total > 0 %}
<div class="span-10 colborder">
  <h5>Principales destinos de los suministros de {{proveedor}} {{periodo}}</h5>
  <table class="tabla-sumario">
    <thead>
      <tr>
	<th>Repartición</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clientes|slice:":5" %}
      <tr>
	<td>{{c|objlink}}</td>
	<td><strong>{{c.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="span-10 last">
  {% include "palabras_clave.html" %}
</div>
<hr class="space">
<div class="span-24 last append-bottom">
<h3>Ordenes de compra adjudicadas al proveedor {{reparticion}} {{periodo}}</h3>
<table class="ordenes_de_compra">
  <colgroup>
    <col class="destino" />
    <col class="importe" />
    <col class="detalle" />
  </colgroup>
  <tr class="encabezados">
    <th>Destino</th>
    <th>Importe</th>
    <th></th>
  </tr>
  {% regroup ordenes_de_compra by fecha as compras_por_dia %}
  {% for dia in compras_por_dia|slice:":4" %}
  <tr class="grupo_fecha">
    <th colspan="3">{{dia.grouper|date:"d/m/Y"}}</th>
  </tr>
  {% for c in dia.list %}
  <tr class="orden">
    <td>{{c.destino|objlink}}</td>
    <td>{{c.importe|currency}}</td>
    <td class="detalle"><a title="Detalle de la orden de compra {{c.orden_compra}}/{{c.fecha|date:"Y"}}" href="{{c.get_absolute_url}}">Ver detalle</a></td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
<a href="{{request.gpb_base_url }}ordenes-de-compra/{{request.gpb_date_range}}">Ver todas las ordenes de compra adjudicadas a {{proveedor.nombre}} {{periodo}}</a>
</div>
{% endif %}
{% endblock %}
