<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Error 404 -- Gasto Público Bahiense</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
  </head>
  <body>
    <div class="container">
      <div class="span-12 prepend-6 prepend-6">
	<h2>Error 404</h2>
	<img src="/static/img/error_404.jpg" />
	<p>La página solicitada no existe en este servidor</p>
      </div>
    </div>
  </body>
</html>

