<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Gasto Público Bahiense{% endblock %}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/smoothness/jquery-ui.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8.2");
      google.load("visualization", "1", {'packages':["table", "linechart", "corechart"], 'language': 'es'});
    </script>
    <script type="text/javascript" src="/static/js/jquery.enumerable.js"></script>
    {% if start_date and end_date %} 
    <script type="text/javascript">
        BASE_URL = '{{request.gpb_base_url}}';
        RANGO_FECHAS = {};
        RANGO_FECHAS.start = new Date('{{start_date|date:"Y-m-d"}}');
	RANGO_FECHAS.end = new Date('{{end_date|date:"Y-m-d"}}');
	if (RANGO_FECHAS.end > new Date()) RANGO_FECHAS.end = new Date();
    </script>
    {% endif %}
    <script type="text/javascript" src="/static/js/app.js"></script>
    {% block extrajs %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <h1 class="span-10"><a href="/">Gasto Público Bahiense</a></h1>
      <div class="span-12 last about-header">
	¿Para qué se usa tu plata?
	<a href="/acerca-de-gpb/">[Sobre GPB]</a>
      </div>
      {% block content %}{% endblock %}
      <hr class="prepend-top">
      <div class="span-22 last footer">
	<ul class="footer-menu">
	  <li class="span-4"><a href="/proveedores/">Todos los proveedores</a></li> 
	  <li class="span-4 last"><a href="/reparticiones/">Todas las reparticiones</a></li>
	</ul>
	<p class="span-22 last"><strong>Gasto Público Bahiense</strong> es un proyecto independiente, no depende de la Municipalidad de Bahía Blanca ― <a href="/acerca-de-gpb/">Acerca de Gasto Público Bahiense</a></p>
      </div>
    </div>
  </body>
</html>
