{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load common_html %}


{% block extrajs %}
<script type="text/javascript">

  $(document).ready(function() {
    var months_li = $('ul#months-menu li ul li');
    $('#slider').css('width', $('li.year').inject(0, function(acc) { return acc + $(this).width(); }));
    $('#slider').slider({range: true, 
                         max: months_li.length - 1,
                         slide: function(event, ui) {
                                  months_li.css('background-color', 'white');
                                  for(i = ui.values[0]; i <= ui.values[1]; i++) {
                                     $(months_li[i]).css('background-color', '#eeeeee');
                                  }
                                } 
                         });
  });

  function draw_table() {
    {{ gasto_por_mes_datatable_js|safe }}
    var date_formatter = new google.visualization.DateFormat({pattern: 'MMMM'});
    date_formatter.format(gasto_por_mes, 0);
    var number_formatter = new google.visualization.NumberFormat({prefix: '$', negativeColor: 'red', negativeParens: true, groupingSymbol:'.', decimalSymbol:','});
    number_formatter = number_formatter.format(gasto_por_mes, 1);

    var linechart = new google.visualization.LineChart(document.getElementById('table_div_jscode'));
    linechart.draw(gasto_por_mes, {showRowNumber: true});
  
    {{reparticion_datatable_js|safe}}
    var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
    piechart.draw(reparticion_gastos, {width: 385, height: 270, legend: 'bottom' });

  }

  google.setOnLoadCallback(draw_table);

</script>
{% endblock %}

{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<hr>
<h2 class="alt">{{periodo|first_upper}}, la Municipalidad gastó <strong>{{gasto_mensual_total|currency}}</strong></h2>
<div class="span-22 last prepend-1">
  <div id="slider"></div>
  <ul id="months-menu">
    <li class="year">
      <ul class="months">
	<li><a href="#">Jun</a></li>
	<li><a href="#">May</a></li>
	<li><a href="">Abr</a></li>
	<li><a href="">Mar</a></li>
	<li><a href="">Feb</a></li>
	<li><a href="">Ene</a></li>
      </ul>
      <a href="#" class="year-link">2010</a>
    </li>
    <li class="year">
      <ul class="months">
	<li><a href="">Dic</a></li>
	<li><a href="">Nov</a></li>
	<li><a href="">Oct</a></li>
	<li><a href="">Sep</a></li>
	<li><a href="">Ago</a></li>
	<li><a href="">Jul</a></li>
	<li><a href="">Jun</a></li>
	<li><a href="">May</a></li>
	<li><a href="">Abr</a></li>
	<li><a href="">Mar</a></li>
	<li><a href="">Feb</a></li>
	<li><a href="">Ene</a></li>
      </ul>
      <a href="#" class="year-link">2009</a>
    </li>
    <li class="year">
      <ul class="months">
	<li><a href="">Dic</a></li>
	<li><a href="">Nov</a></li>
	<li><a href="">Oct</a></li>
	<li><a href="">Sep</a></li>
	<li><a href="">Ago</a></li>
	<li><a href="">Jul</a></li>
	<li><a href="">Jun</a></li>
	<li><a href="">May</a></li>
	<li><a href="">Abr</a></li>
	<li><a href="">Mar</a></li>
	<li><a href="">Feb</a></li>
	<li><a href="">Ene</a></li>
      </ul>
      <a href="#" class="year-link">2008</a>
    </li>
  </ul>
  <hr class="space">
</div>
<hr>
<div class="span-10 colborder">
  <h5>Las 5 reparticiones que más gastaron {{periodo}}</h6>
  <div id="piechart_div"></div> 
  <table class="tabla-sumario">
    <caption>Las 5 reparticiones que más gastaron {{periodo}}</caption>
    <thead>
      <tr>
	<th>Reparticion</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reparticiones|slice:":5" %}
      <tr>
	<td>{{r|objlink}}</td>
	<td><strong>{{r.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="span-13 last">
  <h5>Los 5 proveedores más beneficiados {{periodo}}</h5>
  <table class="tabla-sumario">
    <caption>Los 10 proveedores más beneficiados {{ periodo }}</caption>
    <thead>
      <tr>
	<th>Proveedor</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proveedores|slice:":10" %}
      <tr>
	<td>{{p|objlink}}</td>
	<td><strong>{{p.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="span-24 last">
  <h3>Gastos del año 2010</h3>
  <div id="table_div_jscode" style="height: 200px; width: 100%"></div>
</div>

{% endblock %}

