{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load meses %}
{% load common_html %}
{% load cache %}

{% block extrajs %}
<script type="text/javascript">

  var start_date = new Date('{{start_date|date:"Y-m-d"}}');
  var end_date = new Date('{{end_date|date:"Y-m-d"}}');
  if (end_date > new Date()) end_date = new Date();

  $(document).ready(function() {
  });

  function draw_table() {
    {{ gasto_por_mes_datatable_js|safe }}
    var date_formatter = new google.visualization.DateFormat({pattern: 'MMMM yyyy'});
    date_formatter.format(gasto_por_mes, 0);
    var number_formatter = new google.visualization.NumberFormat({prefix: '$', negativeColor: 'red', negativeParens: true, groupingSymbol:'.', decimalSymbol:','});
    number_formatter = number_formatter.format(gasto_por_mes, 1);

    var linechart = new google.visualization.LineChart(document.getElementById('table_div_jscode'));
    linechart.draw(gasto_por_mes, {showRowNumber: true});
  
    {{reparticion_datatable_js|safe}}
    var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
    piechart.draw(reparticion_gastos, {width: 385, height: 270, legend: 'bottom' });

  }

  google.setOnLoadCallback(draw_table);

</script>
{% endblock %}

{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<hr>
<h2 class="alt">{{periodo|first_upper}}, la Municipalidad de Bahía Blanca gastó <strong>{{gasto_mensual_total|currency}}</strong> en compras a proveedores.</h2>
{% include "filtro.html" %}
<hr>
<div class="span-10 colborder">
  <h5>Las 5 reparticiones que más gastaron {{periodo}}</h5>
  <div id="piechart_div"></div> 
  <table class="tabla-sumario">
    <caption>Las 5 reparticiones que más gastaron {{periodo}}</caption>
    <thead>
      <tr>
	<th>Reparticion</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reparticiones|slice:":5" %}
      <tr>
	<td>{{r|objlink}}</td>
	<td><strong>{{r.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="span-13 last">
  <h5>Los 10 proveedores más beneficiados {{periodo}}</h5>
  <table class="tabla-sumario">
    <caption>Los 10 proveedores más beneficiados {{ periodo }}</caption>
    <thead>
      <tr>
	<th>Proveedor</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proveedores|slice:":10" %}
      <tr>
	<td>{{p|objlink}}</td>
	<td><strong>{{p.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% cache 500 index_tagcloud %}
  {% include "palabras_clave.html" %}
  {% endcache %}
</div>
<hr class="space" />
<div class="span-24 last">
  <h3>Evolución del gasto {{periodo}}</h3>
  <div id="table_div_jscode" style="height: 200px; width: 100%"></div>
</div>
<hr class="space" />
<div class="span-24 last append-bottom">
  {% regroup ordenes_de_compra by fecha as compras_por_dia %}
  <h3>Ordenes de compra emitidas por la Municipalidad {{periodo}}</h3>
  <table class="ordenes_de_compra">
    <colgroup>
      <col class="destino" />
      <col class="proveedor"/>
      <col class="importe" />
      <col class="detalle" />
    </colgroup>
    <tr class="encabezados">
      <th>Destino</th>
      <th>Proveedor</th>
      <th>Importe</th>
      <th></th>
    </tr>
    {% for dia in compras_por_dia|slice:":4" %}
    <tr class="grupo_fecha">
      <th colspan="4">{{dia.grouper|date:"d/m/Y"}}</th>
    </tr>
    {% for c in dia.list %}
    <tr>
      <td>{{c.destino|objlink}}</td>
      <td>{{c.proveedor|objlink}}</td>
      <td>{{c.importe|currency}}</td>
      <td class="detalle"><a title="Detalle de la orden de compra {{c.orden_compra}}/{{c.fecha|date:"Y"}}" href="{{c.get_absolute_url}}">Ver detalle</a></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  <a href="/ordenes-de-compra/{{request.gpb_date_range}}">Ver todas las ordenes de compra emitidas por la municipalidad {{periodo}}</a>
</div>

{% endblock %}

