{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load common_html %}
{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<hr>
<h2 class="alt">{{periodo|first_upper}}, {{reparticion|objlink}} gastó <strong>{{gasto_mensual_total|currency}}</strong>.</h2>
<hr>
<div class="span-10 colborder">
  <h5>Sus 10 proveedores principales {{periodo}}</h5>
  <table class="tabla-sumario">
    <thead>
      <tr>
	<th>Proveedor</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proveedores|slice:":10" %}
      <tr>
	<td>{{p|objlink}}</td>
	<td><strong>{{p.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
