{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load common_html %}

{% block rss %}
{{block.super}}
<link rel="alternate" type="application/rss+xml"  title="Canal RSS de la repartición {{reparticion}}"  href="{% url reparticion_ordenes_rss reparticion.slug %}" />
{% endblock %}

{% block title %}
{% tiempo_en_letras start_date end_date as periodo %}
Gastos de {{reparticion.nombre}} {{periodo|striptags}} - {{block.super}}
{% endblock %}

{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<div id="contador_gastos" class="clearfix">
  <h3>
    {% if facturacion_total_periodo == 0 %}
    No hay órdenes de compra destinadas a {{proveedor|objlink}} {{periodo}}
    {% else %}
    Datos para la dependencia <strong>{{reparticion|objlink}}</strong> {{periodo}}
    {% endif %}
  </h3>
  <dl class="small first">
    <div>
      <dd>Importe total en órdenes de compra destinadas</dd>
      <dt>{{facturacion_total_periodo|currency}}</dt>
    </div>
  </dl>
  <dl class="small">
    <div>
      <dd>Cantidad de órdenes de compra destinadas</dd>
      <dt>{{ordenes_de_compra.count}}</dt>
    </div>
  </dl>
  <dl class="small last">
    <div>
      <dd>Importe mensual promedio de las compras destinadas</dd>
      <dt>{{gasto_mensual_promedio|currency}}</dt>
    </div>
  </dl>
</div> <!-- /contador_gastos -->
{% include "filtro.html" %}
<div id="contenedor" class="clearfix">
  <div class="bloque">
    <div class="caja izquierda">
      <h4>Principales proveedores de las compras destinadas a {{reparticion}} {{periodo}}</h4>
      <ol class="lista-proveedores">
	{% for p in proveedores|slice:":10" %}
	<li>{{p|objlink}}<strong>{{p.total_compras|currency}}</strong></li>
	{% endfor %}	
      </ol>
    </div> <!-- /caja izquierda -->
    <div class="caja derecha">
      <h4>Palabras más frecuentes en las órdenes de compra destinadas a  {{reparticion}} {{periodo}}</h4>
      {% include "palabras_clave.html" %}
    </div>
  </div> <!-- /bloque -->
  <div class="bloque">
    <h3 class="grande">Evolución del gasto de {{reparticion}} {{periodo}}</h3>
    <table id="table_div_jscode" style="height: 200px"></table>
  </div> <!-- /bloque -->
  <div class="bloque">
    <h3 class="grande">Ordenes de compra con destino {{reparticion}} {{periodo}}</h3>
    <table class="ordenes_de_compra table">
      <colgroup>
	<col class="proveedor" />
	<col class="importe" />
	<col class="detalle" />
      </colgroup>
      <tr class="encabezados">
	<th>Proveedor</th>
	<th>Importe</th>
	<th></th>
      </tr>
      {% regroup ordenes_de_compra by fecha as compras_por_dia %}
      {% for dia in compras_por_dia|slice:":4" %}
      <tr class="grupo_fecha">
	<th colspan="3">{{dia.grouper|date:"d/m/Y"}}</th>
      </tr>
      {% for c in dia.list %}
      <tr class="orden">
	<td>{{c.proveedor|tablelink}}</td>
	<td>{{c.importe|currency}}</td>
	<td class="detalle"><a class="ordenes_de_compra_detalle" title="Detalle de la orden de compra {{c.orden_compra}}/{{c.fecha|date:"Y"}}" href="{{c.get_absolute_url}}">Ver detalle</a></td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
    <p class="caja-destacada">
      <a href="{{request.gpb_base_url }}ordenes-de-compra/{{request.gpb_date_range}}">Ver todas las ordenes de compra con destino {{reparticion}} {{periodo}}</a> (<a class="csv-link" href="{{request.gpb_base_url }}ordenes-de-compra/{{request.gpb_date_range}}?format=csv">CSV</a>) - <a href="{% url reparticion_ordenes_rss reparticion.slug %}" class="rss-link">Feed RSS de órdenes de compra</a>
    </p>
  </div> <!-- /bloque -->
</div>
{% endblock %}

{% block extra_js %}
 
    <script type="text/javascript">
      function draw_table() {
        {{ gasto_por_mes_datatable_js|safe }}
        var date_formatter = new google.visualization.DateFormat({pattern: 'MMMM yyyy'});
        date_formatter.format(gasto_por_mes, 0);
        var number_formatter = new google.visualization.NumberFormat({prefix: '$', negativeColor: 'red', negativeParens: true, groupingSymbol:'.', decimalSymbol:','});
        number_formatter = number_formatter.format(gasto_por_mes, 1);
        
        var linechart = new google.visualization.LineChart(document.getElementById('table_div_jscode'));
        linechart.draw(gasto_por_mes, {showRowNumber: true, legend: 'none'});
      }
      
      google.setOnLoadCallback(draw_table);
      
    </script>
{% endblock %}
