{% extends "base.html" %}
{% load objlink %}
{% load currency %}
{% load tiempo_en_letras %}
{% load common_html %}

{% block rss %}
{{block.super}}
<link rel="alternate" type="application/rss+xml"  title="Canal RSS de la repartición {{reparticion}}"  href="{% url reparticion_ordenes_rss reparticion.slug %}" />
{% endblock %}

{% block title %}
{% tiempo_en_letras start_date end_date as periodo %}
Gastos de {{reparticion.nombre}} {{periodo|striptags}} - {{block.super}}
{% endblock %}

{% block content %}
{% tiempo_en_letras start_date end_date as periodo %}
<hr>
<h2 class="alt">
{% if gasto_mensual_total > 0 %}
{{periodo|first_upper}}, {{reparticion|objlink}} gastó <strong>{{gasto_mensual_total|currency}}</strong> en compras a proveedores.
{% else %}
{{reparticion|objlink}} no realizó compras {{periodo}}.
{% endif %}
</h2>
{% include "filtro.html" %}
<hr>
{% if gasto_mensual_total > 0 %}
<div class="span-10 colborder">
  <h5>Sus 10 proveedores principales {{periodo}}</h5>
  <table class="tabla-sumario">
    <thead>
      <tr>
	<th>Proveedor</th>
	<th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proveedores|slice:":10" %}
      <tr>
	<td>{{p|objlink}}</td>
	<td><strong>{{p.total_compras|currency}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="span-10 last">
  {% include "palabras_clave.html" %}
</div>
<hr class="space">
<div class="span-24 last append-bottom">
<h3>Ordenes de compra con destino {{reparticion}} {{periodo}}</h3>
<table class="ordenes_de_compra">
  <colgroup>
    <col class="proveedor" />
    <col class="importe" />
    <col class="detalle" />
  </colgroup>
  <tr class="encabezados">
    <th>Proveedor</th>
    <th>Importe</th>
    <th></th>
  </tr>
  {% regroup ordenes_de_compra by fecha as compras_por_dia %}
  {% for dia in compras_por_dia|slice:":4" %}
  <tr class="grupo_fecha">
    <th colspan="3">{{dia.grouper|date:"d/m/Y"}}</th>
  </tr>
  {% for c in dia.list %}
  <tr class="orden">
    <td>{{c.proveedor|objlink}}</td>
    <td>{{c.importe|currency}}</td>
    <td class="detalle"><a title="Detalle de la orden de compra {{c.orden_compra}}/{{c.fecha|date:"Y"}}" href="{{c.get_absolute_url}}">Ver detalle</a></td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{{request.gpb_date_range}}
<a href="{{request.gpb_base_url }}ordenes-de-compra/{{request.gpb_date_range}}">Ver todas las ordenes de compra con destino {{reparticion}} {{periodo}}</a> - <a href="{% url reparticion_ordenes_rss reparticion.slug %}" class="rss-link">Feed RSS de órdenes de compra</a>
</div>
{% endif %}
{% endblock %}
