/*- Reseteo de Estilos -----------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height: 100%;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	font-family: inherit;
	font-size: 1em;
}

:focus {
	outline: 0;
}

/*- Elementos de HTML5 -*/
header, hgroup, nav, section, aside, article, dialog, figure, footer {
	display: block;
}

/*- Clearfix -*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/*- Fin de Reseteo de Estilos ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Estilos Generales -----------------------------------------------------------*/

body {
	background: #FFF;
	border-top: 2px solid #8c98a5;
	color: #797979;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #111;
	text-decoration: none;
}

p {
	line-height: 1.5em;
	margin: 1em 0;
}

strong {
	font-weight: 800;
}

h3 {
	color: #111;
	line-height: 24px;
	font-family: "Georgia", sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: -0.035em;
}

h4 {
	color: #111;
	line-height: 22px;
	font-family: "Georgia", sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: -0.035em;
}

/*- Ancho de la Pantalla -*/
#principal,
#footer {
	margin: 0 auto;
	width: 1000px;
}

/*- End of Estilos Generales ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Estilos de la Cabecera -----------------------------------------------------------*/
#cabecera {
	border-bottom: 1px solid #dcdcdc;
	padding: 2em 0;
}

#cabecera h1 {
	font-size: 31px;
	font-weight: 500;
	letter-spacing: -0.07em;
	line-height: 32px;
	text-transform: uppercase;
}

#cabecera h2 {
	font-size: 19px;
	font-weight: 400;
	letter-spacing: -0.05em;
}

/*------------------------------*/
/* LOGO */
/*------------------------------*/
#logo {
	border-right: 1px solid #dcdcdc;
	float: left;
	padding: 0 25px 0 0;
}

#logo a {
	color: #505050;
}

#logo a span {
	color: #6e6e6e;
}

#apoyo_de img {
	vertical-align:middle;
}

#apoyo_de {
	float:left;
}

#apoyo_de ul {
	margin:8px 0 0 20px;
}

#apoyo_de ul li {
	display:inline;
}	
#apoyo_de ul li a {
	opacity:0.5;
	margin:0 5px;
}

#apoyo_de ul li a:hover {
	opacity:1;
}

#descripcion {
	padding: 2em 0;
	border-bottom: 1px solid #dcdcdc;
}

#descripcion h2 {
	font-size: 18px;
	font-weight: 200;
	line-height: 1.25em;
	letter-spacing: -0.05em;
	padding: 3px 0 0;
}

/*------------------------------*/
/* BLOQUE GASTO */
/*------------------------------*/
#contador_gastos {
	border-bottom: 1px solid #DCDCDC;
	padding: 2em 0;
}

#contador_gastos dl {
	float: left;
	width: 25%;
}

#contador_gastos dl div {
	border-right: 1px solid #DCDCDC;
	padding: 0 0 0 15px;
}

#contador_gastos dl.first div {
	padding: 0;
}


#contador_gastos dl.last {
	border: 0;
	margin: 0;
	padding: 3px 0;
}

#contador_gastos dl.last div {
	border: 0;
}

#contador_gastos dt {
	color: #505050;
	font-size: 24px;
	font-weight: 800;
}

#contador_gastos .small dt {
	font-size: 20px;
}

#contador_gastos dd {
	font-size: 22px;
	margin: 0 0 3px;
}

#contador_gastos .small dd {
	font-size: 13px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	height: 40px;
}

#contador_gastos h3 {
	margin-bottom: 1em;
}

/*- End of Estilos de la Cabecera ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Filtro Por Fecha -----------------------------------------------------------*/

#filtro_fecha {
	border-bottom: 1px solid #dcdcdc;
	border-top: 4px solid #f8f8f8;
	padding: 2em 0;
	position: relative;
}


#filtro_fecha li {
	display: inline;
	margin: 0;
}

#filtro_fecha li a {
	background: url('../img/arrow-down.gif') no-repeat right center;
	color: #000;
	padding: 0 12px 0 0;
	text-decoration: underline;
}

#filtro_fecha li span.boton {
	border-radius: 5px;
	background: #eaeaea url('../img/ico-calendar.gif') no-repeat 8px center;
	font-size: 12px;
	margin: 0 8px 0 0;
	padding: 7px 10px 7px 30px;
	position: relative;
	text-shadow: -1px 1px #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-slider {
	font-size: 10px !important;
	text-transform: uppercase;
	margin: 2.5em 0 0;
}
#timeline .arrow {
	background: url('../img/arrow-timeline.gif') no-repeat center top;
	display: block;
	height: 14px;
	margin: 8px 0 -1px;
	position: relative;
}
#timeline fieldset {
	background: none repeat scroll 0 0 #F9F8F8;
	border: 1px solid #ededed;
	border-radius: 4px;
	padding: 2em 2em 5em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#timeline label {
	color: #666;
	font-size: 12px;
	padding: 0 3px 0 0;
}

#timeline select {
	margin: 0 15px 0 0;
}

#btn-filtrar {
	float: right;
	margin: 0 530px 0 0;
}

/*------------------------------*/
/* BUSCADOR */
/*------------------------------*/
#buscador {
	display: inline;
	position: absolute;
	right: 0;
	top: 18px;
	width: 224px;
}

#buscador p {
	display: inline;
}

#buscador input {
	background: url('../img/bg-search.gif') no-repeat left top;
	border: 0;
	color: #989797;
	height: 34px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 30px 0 10px;
	width: 184px;
}


/*- End of Filtro Por Fecha ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Bloques -----------------------------------------------------------*/

#contenedor ul,
#contenedor ol {
	line-height: 1.5em;
	margin: 1em 0 2em;
}

.bloque {
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	padding: 2em 0 ;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}


.tabla-sumario {
	font-size: 12px;
	letter-spacing: -0.05em;
	
}

.lista-proveedores li {
	position:relative;
	padding:10px 0;
	border-bottom: 1px solid #DCDCDC;
}

.lista-proveedores li:last-child {
	border:0;
	padding-bottom:0;
}

.lista-proveedores li strong {
	background:#EEE;
	border-radius:50px;
	display:block;
	font-size:11px;
	padding:5px;
	position:absolute;
	right:0;
	top:5px;
	text-align:center;
	width:80px;
}

.lista-proveedores li a {
	background: url('../img/url_icon.gif') no-repeat left center;
	padding: 0 0 0 20px;
}

.caja {
	width: 48%;
}

.grande {
	font-size: 20px;
}

table {
	margin: 2em 0 0;
	width: 100%;
	
}

table .encabezados {
	background: none repeat scroll 0 0 #E8E8E8;
}

table .grupo_fecha th {
	background:#dedede url('../img/ico-calendar.gif') no-repeat 8px center;
	border-left:0;
	padding-left:30px;
	color:#111;
}

table tr th {
	background: none no-repeat scroll 100% 100% transparent;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #F3F3F3;
	font-size: 12px !important;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: bottom;
}

table tr td, table tr th {
	overflow: hidden;
	padding: 11px;
	text-align: left;
	font-size: 11px;
}

table tr:hover td {
	background:#EFEFEF;
	cursor:pointer;
	
}

table tr td {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #F2F2F2;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

table tr td:first-child {
	border-left: 0;
}
table tr td:last-child {
	border-right: 0;
}

table a {
	/* background: url('../img/url_icon.gif') no-repeat left center; */
	font-weight: bold;
	letter-spacing: -0.035em;
	/* padding: 0 0 0 20px; */
}

table a.button {
	background: #CCC;
	color: #FFF;
	font-size: 11px;
	padding: 5px 12px;
	text-shadow: 0 1px 0 #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

table tr.seleccionada td,
table tr.detalle td {
	background:#fffbec;
	cursor:default;
	border-color:#CCC;
}

.detalle table {
	margin:0;
}

.detalle td,
.detalle th {
	padding:0;
}

.detalle table tr td,
.detalle table tr th {
	padding:8px 11px;
	border-color:#CCC;
}

.detalle table tr th:first-child {
	border-left:0;
}

.caja-destacada {
	background:#EEE;
	padding:8px;
	margin:2em 0 0;
	border-radius:3px;
}

  .caja-destacada a:hover {
      text-decoration: underline;
  }

#footer {
	padding:1em 0;
	text-align:center;
}
#footer p {
	margin:0.3em 0;
}


/*- End of Bloques ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*- Arreglos para IE, Safari y Chrome -----------------------------------------------------------*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#descripcion h2 {
		letter-spacing: -0.040em;
	}
	#contador_gastos .small dd {
		font-size: 12px;
		text-transform: uppercase;
	}

}

/*- End of Arreglos para IE, Safari y Chrome ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/* --------- MANUEL --------- */

table.ordenes_de_compra a.ordenes_de_compra_detalle {
    visibility: hidden;
}

table.ordenes_de_compra tr:hover a.ordenes_de_compra_detalle {
    visibility: visible;
}

table.ordenes_de_compra em {
    background-color: #FFFF9E;
    font-style: normal;
}

ul.tagcloud {
    width: 100%;
}

  ul.tagcloud li {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    font-size: 11px;
    padding: 5px;
    /*text-align: center;*/
    /* width: 80px; */
    float: left; 
    margin-right: 5px;
    margin-bottom: 5px; 
  }

.rss-link  {
    background: url("/static/img/feed-icon.png") no-repeat scroll left top transparent;
    padding-left: 18px;
}

.csv-link  {
    background: url("/static/img/csv-icon.gif") no-repeat scroll left top transparent;
    height: 20px;
    padding-left: 20px;
}

#descripcion a:hover {
    text-decoration: underline;
}

#filtro_fecha li span.boton {
    cursor: pointer;
}


