div.container {
    margin-top: 20px;
}

h1 a {
    text-decoration: none;
    color: black;
}

.alt strong {
	background-color: #FFFF9E;
}

.about-header {
    font-size: 2em;
    color: #999999;
}
  .about-header a {
      color: #CCCCFF;
  }
  .about-header a:hover { text-decoration: none; }

table.tabla-sumario caption, table.tabla-sumario thead {
    display: none;
}

/* footer menu */

ul.footer-menu {
    padding-left: 0;
    float: left;
    list-style-type: none;
}

  ul.footer-menu li {
      display: block;
      float: left;
  }

/* filtro de fechas */

ul#months-menu {
    padding-left: 0;
    float: left;
}

  ul#months-menu a {
      text-decoration: none;
  }

  ul#months-menu a:hover {
      text-decoration: underline;
  }

a.year-link {
    font-weight: bold;
}

li.year {
    float: left;
    display: block;
}
  li.year ul.months {
      padding: 0;
  }


  li.year ul.months li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      width: 21px;
      text-align: justify;
      font-family: monospace;
      
  }

#filtro-container button {
    border: 0;
    background-color: transparent;
}

  #filtro-container button:hover {
      background-color: #dddddd;
      cursor: pointer;
  }

/* tag cloud */

ul.tagcloud {
    padding-left: 0;
    list-style-type: none;
}

ul.tagcloud li {
    margin-right: 5px;
    float: left;
}



.hide {
    display: none;
}

/* tabla ordenes de compra */

table.ordenes_de_compra {
    border: 0;
    border-collapse: collapse;
}

  table.ordenes_de_compra tr.grupo_fecha {
      border-top: 1px solid #bbbbbb;
      border-bottom: 1px solid #bbbbbb;
  }

  table.ordenes_de_compra td.detalle a {
      /*background: url("/static/img/page_white_text.png") no-repeat scroll center bottom transparent !important; */
      /* width: 16px; */
      /* height: 16px; */
      /* display: block; */
      /*text-indent: -9999px;*/
      /*overflow: hidden;*/
      visibility: hidden;
  }

  table.ordenes_de_compra col.destino, table.ordenes_de_compra col.proveedor  {
      border-right: 1px solid black;
  }

  table.ordenes_de_compra tr.encabezados {
      border-bottom: 1px solid black;
  }

  table.ordenes_de_compra tr.orden:hover {
      background-color: #dddddd;
  }
  
  table.ordenes_de_compra tr.orden:hover td.detalle a {
      visibility: visible;
  }


.footer {
    opacity: .7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);

}

/* jquery theme para slider */

.ui-slider.ui-widget-content {
    border: 0;
    border-bottom: 1px solid #AAA !important;
}

.ui-slider-range.ui-widget-header {
    background: none !important;
    border-bottom: 1px solid red !important;
}

.ui-slider-horizontal .ui-slider-handle {
}

.ui-state-default {
    background:url("/static/img/mini-filter-arrow.gif") no-repeat scroll center bottom transparent !important;
    
    border: 0 !important;
}

.eResize {
    cursor: e-resize !important;
}


.wResize {
    cursor: w-resize !important;
}
